<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/" methode="post"></form>
    <tr><td>Enter film</td><td><input type="text"name="ename" id="a"></td></tr>
    <tr><td></td><td><button type="submit">submit</button></td></tr>
    <form>
</body>
</html>